<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginRequest</servlet-name>
  	<display-name>LoginRequest</display-name>
  	<description></description>
  	<servlet-class>database.requests.LoginRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TokenRequest</servlet-name>
  	<display-name>TokenRequest</display-name>
  	<description></description>
  	<servlet-class>database.requests.TokenRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterRequest</servlet-name>
  	<display-name>RegisterRequest</display-name>
  	<description></description>
  	<servlet-class>database.requests.RegisterRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginRequest</servlet-name>
  	<url-pattern>/LoginRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TokenRequest</servlet-name>
  	<url-pattern>/TokenRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterRequest</servlet-name>
  	<url-pattern>/RegisterRequest</url-pattern>
  </servlet-mapping>
</web-app>
